<!DOCTYPE html>
<html>
<head>
    <title>Equipos</title>
</head>
<body>
    <h1>Información de Equipos</h1>
    <table border="1">
        <tr>
            <th>Equipo</th>
            <th>Liga</th>
            <th>Presidente</th>
            <th>Entrenador</th>
            <th>Año de Fundación</th>
            <th>Estadio</th>
            <th>Capacidad</th>
        </tr>
        {% for team in teams %}
        <tr>
            <td>{{ team.club_name }}</td>
            <td>{{ team.league }}</td>
            <td>{{ team.president }}</td>
            <td>{{ team.coach }}</td>
            <td>{{ team.foundation_year }}</td>
            <td>{{ team.stadium_name }}</td>
            <td>{{ team.stadium_capacity }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
